go 1.26.2

use (
	.
	./example/common
	./example/features
	./example/full
	./example/minimal
	./kong
	./kong/charming
	./kong/show
	./parsers/toml
	./parsers/yaml
	./providers/file
	./providers/file/discover/vcs
	./style/charming
)

replace github.com/pmarschik/kongfig v0.6.1 => .

replace github.com/pmarschik/kongfig/kong v0.6.1 => ./kong

replace github.com/pmarschik/kongfig/parsers/toml v0.6.1 => ./parsers/toml

replace github.com/pmarschik/kongfig/parsers/yaml v0.6.1 => ./parsers/yaml

replace github.com/pmarschik/kongfig/providers/file v0.6.1 => ./providers/file

replace github.com/pmarschik/kongfig/style/charming v0.6.1 => ./style/charming
